---
title: "Secure your apps with the built-in security and compliance in GitLab CI"
author: "Itzik Gan-Baruch"
author_gitlab: iganbaruch
author_twitter: itzikgb
categories: unfiltered
image_title: '/images/blogimages/ci-sec.png'
description: "Developers get security and compliance feedback immediately after committing new code."
tags: CI/CD, security
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

GitLab comes with security features out-of-the-box and automated security testing with audit controls to facilitate policy compliance. Moving security testing farther left into the SDLC catches potential problems earlier and shortens feedback loops for developers. This means a faster time to market delivering secure, compliant, code and an increase in customer confidence.


Watch this short video (5 minutes) to learn how to configure GitLab security features, and setting up approval rules for merge requests.

<iframe width="560" height="315" src="https://www.youtube.com/embed/Fd5DhebtScg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


Cover image by [Shahadat Rahman](https://unsplash.com/@hishahadat) on [Unsplash](https://unsplash.com/)
{: .note}


