@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.tab-pane {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .container {
    display: flex;
    justify-content: center;

    .tab-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:first-child {
        width: 50%;
        padding-right: 50px;

        @media all and (max-width: $screen-md-min) {
          width: 100%;
          margin-bottom: 50px;
          padding-right: 0;
        }
      }
    }

    @media all and (max-width: $screen-md-min) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.question {
  margin: 40px 0;
  margin-bottom: 20px;
}

.tabs-wrapper {
  margin-top: 0;
}

.headline-container {
  padding: 40px 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  p {
    max-width: 600px;
    text-align: center;
  }

  .bold-headline {
    @media (max-width: $screen-md-min) {
      font-size: 44px;
      line-height: 1.15;
      margin-top: 10px;
    }
  }
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    width: 100%;

    @media (min-width: $screen-md-min) {
      width: calc(100% / 2);
    }

    @media (min-width: $screen-lg-min) {
      width: calc(100% / 3);
    }
  }
}

.gitlab-type-image-container {
  text-align: center;

  svg {
    max-width: 170px;
    max-height: 150px;
  }
}

// add margin-bottom for 0 to small screen only
.mb-sm-5 {
  @media (max-width: $screen-sm-min) {
    margin-bottom: 25px;
  }
}

.self-hosted-signup-form {    
  @media (min-width: $grid-float-breakpoint) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 536px;
    }

    .mktoFormCol + .mktoFormCol {// sass-lint:disable-line class-name-format
      margin-left: 26px;
    }

    .mktoFormRow {// sass-lint:disable-line class-name-format
      display: flex;
      justify-content: space-between;
    }
  }

  @media (max-width: $grid-float-breakpoint) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 450px;
    }
  }

  @media (max-width: $screen-sm-min) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 400px;
    }
  }

  @media (max-width: 480px) {
    .mktoForm {// sass-lint:disable-line class-name-format
      width: 300px;
    }
  }
}

.self-managed-col-wrap {
  display: flex;

  @media (max-width: $container-large-desktop) {
    justify-content: space-between;
  }

  @media (max-width: $screen-sm-min) {
    flex-direction: column;
  }
}

.self-managed-col-left {
  width: 65%;

  @media (max-width: $container-large-desktop) {
    width: 62%;
  }

  @media (max-width: $screen-sm-min) {
    width: 100%;
    margin-bottom: 50px;
  }

  .mktoForm #FirstName {// sass-lint:disable-line class-name-format id-name-format
    border: 1px solid $color-primary;

    &.mktoInvalid {// sass-lint:disable-line class-name-format 
      border: 1px solid #f00;
    }

    &.mktoValid {// sass-lint:disable-line class-name-format
      border: 1px solid #ddd;
    }
  }

  .mktoForm .mktoButtonRow .mktoButtonWrap button {// sass-lint:disable-line class-name-format
    background: $dropdown-link-hover-color;
    font-weight: 700;
    box-shadow: 3px 3px 0px 0 rgba(100, 100, 100, 1);
    font-size: 18px;
    transition: opacity .2s ease;

    &:hover {
      opacity: .9;
    }
  }

  [for="commentCapture"],
  #commentCapture {//sass-lint:disable-line id-name-format
    display: none;
  }
}

.self-managed-col-right {
  width: 30%;

  @media (max-width: $screen-sm-min) {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 40px;
  }

  img {
    width: 260px;
    margin: 10px auto 0;
    display: block;
  }

  ul {
    padding: 0;
    margin: 13px 0 0;
  }

  li {
    position: relative;
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 40px;

    &::before {
      content: url("/images/icons/checkmark-purple-circle.svg");
      position: absolute;
      left: 0;
      top: 2px;
    }

    @media (max-width: $grid-float-breakpoint) {
      font-size: 16px;
      padding-left: 37px;
    }
  }

  .self-managed-list-intro {
    @media (max-width: $grid-float-breakpoint) {
      font-size: 17px;
    }
  }
}

.module-trial-cta {
  padding: 20px 0 25px;

  h1 {
    font-size: 36px;
    font-weight: 700;

    @media (max-width: $screen-sm-min) {
      font-size: 30px;
    }
  }

  .btn {
    background-color: #6e49cb;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    padding: 12px 16px;
    margin-top: 10px;
  }
}
